.messageBox {
  padding: 10px;
}
.messagebox__container {
  display: flex;
  align-items: center;
}
.messageBox__info {
  margin-left: 10px;
  line-height: 1px;
}
.messageBox__info > h4 > span {
  margin-left: 5px;
  font-size: 12px;
  color: grey;
  font-weight: 500;
}
.messageBox__info > p {
  color: #282728;
  font-weight: 400;
}
